// nextflow.config

//----------------------------------------------------------
// Default pipeline parameters
// (can still be overridden on the command line with --param)
//----------------------------------------------------------
params {
    qiime2_version      = '2026.1'
    reads               = '01_data'
    output_import       = '02_import'
    manifest            = '02_import/manifest.tsv'
    output_qzv          = '03_visualizations'
    forward_primer      = 'CCTACGGGNGGCWGCAG'
    reverse_primer      = 'GACTACHVGGGTATCTAATCC'
    quality_cutoff      = '30'
    metadata            = 'metadata/*.{csv,tsv,txt}'
    output_dada2        = '04_DADA2'
    tax_database        = 'SILVA_138.2_animal_gut'
    output_taxonomy     = '05_taxonomy'
    taxonomy            = '05_taxonomy/taxonomy_*.qza'
    output_filtered     = '06_filtered'
    output_genus        = '07_genus_table'
    output_grouped      = '08_grouped_table'
    output_phylogeny    = '09_phylogeny'
    run_diversity       = false
    sampling_depth      = null
    analysis_group      = 'Treatment'
    output_adiversity   = '10_diversity/alpha_diversity'
    output_bdiversity   = '10_diversity/beta_diversity'
    output_rarefied     = '10_diversity/rarefied_table'
    picrust2_version    = '2.6.1'
    output_picrust2     = '11_picrust2'
    model_formula       = 'Treatment'
    reference_levels    = 'Treatment::DF_A'
    output_ancombc2     = '12_ancombc2'

    // Map of download links depending on the taxonomic DB option
    urls = [
        'SILVA_138.2_animal_gut'  : 'https://www.arb-silva.de/fileadmin/silva_databases/current/QIIME2/2025.7/SSU/full-length/weighted/animal-proximal-gut/SILVA138.2_SSURef_NR99_weighted_classifier_full-length_animal-proximal-gut.qza',
        'SILVA_138.2_animal_feces': 'https://www.arb-silva.de/fileadmin/silva_databases/current/QIIME2/2025.7/SSU/full-length/weighted/animal-distal-gut/SILVA138.2_SSURef_NR99_weighted_classifier_full-length_animal-distal-gut.qza',
        'SILVA_138.2_human_feces' : 'https://www.arb-silva.de/fileadmin/silva_databases/current/QIIME2/2025.7/SSU/full-length/weighted/human-stool/SILVA138.2_SSURef_NR99_weighted_classifier_full-length_human-stool.qza',
        'SILVA_138.2_unweighted'  : 'https://www.arb-silva.de/fileadmin/silva_databases/current/QIIME2/2025.7/SSU/full-length/uniform/SILVA138.2_SSURef_NR99_uniform_classifier_full-length.qza',
        'SILVA_138.1_unweighted'  : 'https://data.qiime2.org/classifiers/sklearn-1.4.2/silva/silva-138-99-nb-classifier.qza',
        'Greengenes2'             : 'https://data.qiime2.org/classifiers/sklearn-1.4.2/greengenes2/2024.09.backbone.full-length.nb.sklearn-1.4.2.qza',
        'GTDB_r220'               : 'https://data.qiime2.org/classifiers/sklearn-1.4.2/gtdb/gtdb_classifier_r220.qza'
    ]
}

//----------------------------------------------------------
// Executor: how/where jobs actually run
// (local = run on this machine; slurm = submit to HPC scheduler)
//----------------------------------------------------------
process {
    // Low resource steps
    withLabel: 'low_cpu' {
        cpus = 2
        memory = '2 GB'
    }
    
    // High resource steps
    withLabel: 'high_cpu' {
        cpus   = 8
        memory = '32 GB'
    }
}

//----------------------------------------------------------
// Optional: profiles let you switch environments easily
// e.g. `nextflow run main.nf -profile slurm`
//       `nextflow run main.nf -profile local`
//----------------------------------------------------------
profiles {
    local {
        process.executor = 'local'
    }

    slurm {
        process.executor       = 'slurm'
        process.queue          = 'ceres'
        process.clusterOptions = " -A ${System.getenv('SLURM_JOB_ACCOUNT')} "
        process.cpus           = 8
        process.memory         = '32.GB'
        process.time           = '2.h'
    }
}